html,
body {
  padding: 0;
  margin: 0;
  transition: 0.3s;
  font-family: Rubik, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
